<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
    
    <div class="container">
      <div class="row">
        <h1 class="col-lg-32">Gestor de Clientes</h1>
        <button on-click="obtenerClientes">Gestonar</button>
        <button on-click="añadirCliente">Agregar</button>
        <table class="table-sm">
          <tr>
            <td>idCliente</td>
            <td>Nombre</td>
            <td>Apellido</td>
          </tr>
        	<tbody>
        		<template is="dom-repeat" items="{{movimientos}}">
        			<tr>
        				<td>[[item.idCliente]]</td>
        				<td>[[item.nombre]]</td>
        				<td>[[item.apellido]]</td>
        			</tr>
        		</template>
        	</tbody>
        </table>
      </div>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clients: {
          	type: Array,
          	notify: true
          },
          respuesta: {
          	type: String
          },
          movimientos: {
            type: String
          }
        };
      }
      obtenerClientes(){
      	var req = new XMLHttpRequest();
      	var url = "http://localhost:3002/movimientos";
      	req.open("GET", url, false);
      	req.send();
      	this.movimientos = JSON.parse(req.responseText);    
      }
      añadirCliente(){
      	var req = new XMLHttpRequest();
      	var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
      	req.open("POST", url, false);
      	req.setRequestHeader("Accept","application/json");
      	req.setRequestHeader("Content-Type","application/json");
      	var nuevoCliente = {
      		"CustomerID": "12345",
      		"ContactName": "GiovanniNM",
      		"CompanyName": "GNM"
      	};
      	var body = JSON.stringify(nuevoCliente);      	
      	req.send(body);
      	this.respuesta = req.responseText;  
      	console.log(this.respuesta); 
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
