<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <div class="container">
      
      <div class="row">
        <h2>[[prop1]]</h2>
        <h2>[[prop2]]</h2>
        <br/>
        <img src="[[image]]" width="300px" />
        <button id="boton" on-click="incrementar">Incrementar</button>
        <br/>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <table class="table table-sm">
          <tr> 
            <td>Nombre</td>
            <td>A. Paterno</td>
            <td>A. Materno</td>
          </tr>
          <tbody>
            <tr>
              <td>[[prop1]]</td>
              <td>[[prop2]]</td>
              <td>[[prop3]]</td>
            </tr>
             <tr>
              <td>Daniel</td>
              <td>Lopez</td>
              <td>Sanchez</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: "Giovanni"
          },
          prop2: {
            type: Number,
            value: 9999
          },
          image: {
            type: String,
            value: 'https://images.pexels.com/photos/951539/pexels-photo-951539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'
          },
          prop3: {
            type: String,
            value: 'Introduce nombre'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
